#coc h1:not(:first-child),
#coc h2:not(:first-child),
#coc h3:not(:first-child),
#coc h4:not(:first-child),
#coc h5:not(:first-child),
#coc h6:not(:first-child) {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#coc p:not(:last-child) {
    margin-bottom: 1rem;
}
