@import "./../fonts/manrope/manrope.css";

:root {
    --red: #d04436;
    --red-dark: #a6362b;
    --green: #3db670;
    --green-mid: #239d56;
    --green-dark: #1b7a43;
}

h1, h2 {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 3rem !important;
}

h2 {
    font-size: 2.5rem !important;
}

h3 {
    font-size: 2rem !important;
}

h4 {
    font-size: 1.5rem !important;
}

h5 {
    font-size: 1.25rem !important;
}

h6 {
    font-size: 1rem !important;
}


body {
    font-weight: 500;
    color: #000;
}

.is-size-huge {
    font-size: 4.5rem;
}

@media screen and (max-width: 450px) {
    .is-size-huge {
        font-size: 3rem;
    }
}

.navbar {
    background: var(--green) !important;
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        background: var(--green) !important;
    }
}

.navbar-end .navbar-item:not(:last-child) {
    padding: 0.5rem 1rem;
}

.logo-container {
    max-width: 50vw;
    margin: auto;
}

.logo-cont {
    color: #fff;
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 7rem;
    font-weight: 700;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 450px) {
    .logo-cont {
        font-size: 4rem;
    }
}

@media screen and (min-width: 1024px) {
    .logo-cont {
        font-size: 12rem;
    }
}

.logo-cont .green {
    color: var(--green);
}

.logo-cont .red {
    color: var(--red);
}

.navbar-link.is-active,
.navbar-link,
a.navbar-item.is-active,
a.navbar-item {
    color: #000;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
    background-color: var(--green-mid);
    color: #000;
}

@media screen and (min-width: 1024px) {
    .navbar-link.is-active,
    .navbar-link:focus,
    .navbar-link:focus-within,
    .navbar-link:hover,
    a.navbar-item.is-active,
    a.navbar-item:focus,
    a.navbar-item:focus-within,
    a.navbar-item:hover {
        background-color: var(--green-mid);
        color: #000;
    }
}

.navbar-brand .navbar-item,
.navbar-brand .navbar-item:focus,
.navbar-brand .navbar-item:focus-within,
.navbar-brand .navbar-item:hover {
    border-bottom: none !important;
}

.navbar-brand .navbar-item:focus,
.navbar-brand .navbar-item:focus-within,
.navbar-brand .navbar-item:hover {
    background-color: var(--green-mid) !important;
}

.button.is-primary {
    background-color: var(--green-mid);
}

.button.is-primary.is-hovered, .button.is-primary:hover {
    background-color: var(--green-dark);
}

#social a {
    color: var(--red);
}

#social a:hover,
#social a:focus {
    color: var(--red-dark);
}

.card {
    border-radius: 6px;
}

.card-content .title:not(:last-child) {
    margin-bottom: .4rem;
}

.avatar {
    display: block;
    max-width: 90%;
    margin: auto;
    border-radius: 50%;
}

.speaker-info .title {
    margin-bottom: .4rem;
}

.has-same-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.has-same-height .card-footer {
    margin-top: auto;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .column.is-4-tablet {
        width: 33.333%;
    }

    .column.is-12-mobile {
        width: 33.333%;
    }

    .column.is-6-mobile {
        width: 33.333%;
    }
}

@media screen and (min-width: 800px) {
    .avatar {
        max-width: 144px;
    }
}

#speakers {
    background-color: var(--green);
}

#speakers h1 {
    color: #000;
}

#speakers .card {
    background-color: rgba(255, 255, 255, 0.85);
}

ul {
    list-style-type: disc;
    padding-inline-start: 1.2rem;
}

.card {
    border-radius: .4rem;
}

.card-content h6 {
    margin-bottom: .4rem;
}

.help {
    margin-top: .5rem;
}

.table.is-bordered th, .table.is-bordered td {
    border-color: #000;
}

.table th {
    background-color: #eee;
}

.checkbox input {
    margin-right: .4rem;
    padding-top: .2rem;
}

.field:not(:last-child) {
    margin-bottom: .8rem;
}

.label:not(:last-child) {
    margin-bottom: .7rem;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #000;
}

@media screen and (min-width: 1024px) {
    .navbar-item.has-dropdown.is-active .navbar-link,
    .navbar-item.has-dropdown:focus .navbar-link,
    .navbar-item.has-dropdown:hover .navbar-link {
        background-color: var(--green-mid) !important;
    }
}

.navbar-dropdown {
    background-color: var(--green);
    border-top: none;
    box-shadow: 0 8px 8px rgba(10, 10, 10, .2);
    padding-bottom: .6rem;
    padding-top: .6rem;
}

.navbar-dropdown .navbar-item {
    min-height: 40px;
}

@media screen and (min-width: 1024px) {
    .navbar-dropdown .navbar-item {
        padding: .6rem 1rem !important;
    }
}

@media screen and (min-width: 1024px) {
    .navbar-dropdown a.navbar-item:focus,
    .navbar-dropdown a.navbar-item:hover {
        background-color: var(--green-mid);
        color: #000;
    }
}
