@import "./../fonts/manrope/manrope.css";

:root {
    --red: #eb3b5a;
    --red-dark: #d43551;
    --green: #4dcc89;
    --green-mid: #3ea36e;
    --green-dark: #2e7a52;
    --green-darker: #1f5237;
    --dark-blue: #00202b;
    --dark-blue-light: #0D2B36;
    --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
    scroll-behavior: smooth;
    color: var(--dark-blue);
}

body, html {
    font-family: "Manrope", var(--system-font);
}

h1, h2,
.content h1, .content h2 {
    font-weight: 800;
}

h1,
.content h1 {
    font-size: 3.6rem;
}

h2,
.content h2 {
    font-size: 3rem;
}

h3,
.content h3 {
    font-size: 2.4rem;
    font-weight: 700;
}

h4,
.content h4 {
    font-size: 1.7rem;
    font-weight: 700;
}

h5,
.content h5 {
    font-size: 1.25rem;
    font-weight: 600;
}

h6, p, .button,
.content h6,
.content p,
.content .button {
    font-size: 1.1rem;
}

@media screen and (max-width: 329px) {
    h1, .content h1 {
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 330px)  and (max-width: 450px) {
    h1,
    .content h1 {
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 450px) {
    h2,
    .content h2 {
        font-size: 2.2rem;
    }

    h3,
    .content h3 {
        font-size: 1.75rem;
    }

    h4,
    .content h4 {
        font-size: 1.4rem;
    }

    h5,
    .content h5 {
        font-size: 1.25rem;
    }

    h6, p, .button,
    .content h6,
    .content p,
    .content .button {
        font-size: 1.1rem;
    }
}

body {
    font-weight: 600;
    color: var(--dark-blue);
}

b {
    font-weight: 800;
}

.section-title-container {
    display: inline-block;
    background-image: url('./../img/boyaconf-outline-white.svg');
    background-position: 0 center;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
    margin-top: 1.2rem;
    margin-bottom: 3rem;
    padding-left: .6rem;
    padding-right: .6rem;
}

.section-subtitle-container {
    text-align: center;
    vertical-align: middle;
    margin-top: 3.6rem;
    margin-bottom: 2rem;
}

.hero:nth-of-type(2n) .section-title-container {
    background-image: url('./../img/boyaconf-outline-red.svg');
}

.hero:nth-of-type(3n) .section-title-container {
    background-image: url('./../img/boyaconf-outline-green.svg');
}

.section-title {
    width: auto;
    margin: auto;
    /* font-size: 4rem; */
    font-weight: 800;
    vertical-align: middle;
    text-transform: capitalize;
    text-align: center;
}

/*
@media screen and (max-width: 680px) {
    .section-title {
        font-size: 3.4rem;
    }
}

@media screen and (max-width: 450px) {
    .section-title {
        font-size: 2.2rem;
    }
}
*/

.navbar {
    background: var(--dark-blue) !important;
    font-size: 1.1rem !important;
}

@media screen and (min-width: 1024px) {
    .navbar {
        min-height: 4rem;
    }
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        background: var(--dark-blue) !important;
    }
}

.navbar-end .navbar-item {
    padding: 0.5rem 1rem;
}

.navbar.has-shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.navbar-burger,
.navbar-burger.is-active,
.navbar-burger:hover,
.navbar-burger:focus {
    color: #fff;
}

.hero.is-fullheight-with-navbar {
    min-height: calc(100vh - 3.25rem);
}

@media screen and (min-width: 2561px), print {
    .hero.is-fullheight-with-navbar {
        min-height: 50vh;
    }

    .hero.is-fullheight-with-navbar .hero-body {
        padding-top: 4.4rem;
        padding-bottom: 4rem;
    }
}

@media screen and (min-width: 800px) {
    .hero.is-medium .hero-body {
        padding-top: 4.8rem;
        padding-bottom: 5.6rem;
    }
}

#desc {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.mdis {
    margin-top: 2.4rem;
}

#social.mdis {
    margin-bottom: 3.2rem;
}

.mdis a {
    margin-right: .2rem;
    margin-left: .2rem;
    padding: .1rem;
}

.mdis a span.mdi::before {
    background-image: url('./../img/boyaconf-rect.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-align: center;
    min-width: 44px;
    width: auto;
    height: auto;
    padding: .6rem;
    fill: var(--red);
    color: #fff;
}

.mdis a:hover span.mdi::before,
.mdis a:focus span.mdi::before {
    color: #fff;
    background-image: url('./../img/boyaconf-rect-dark.svg');
    fill: var(--red-dark);
}

.hero.has-logo {
    background-color: var(--dark-blue);
    background-image: url('./../img/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#main-content {
    background-color: rgba(0, 32, 43, .85);
    color: #fff !important;
}

.green {
    color: var(--green) !important;
}

.green-mid {
    color: var(--green-mid) !important
}

.green-dark {
    color: var(--green-dark) !important
}

.red {
    color: var(--red) !important;
}

.logo-cont {
    color: #fff;
    -webkit-text-stroke: 1px var(--dark-blue);
    text-shadow: 1px 1px 0 var(--dark-blue),
    -1px -1px 0 var(--dark-blue),
    1px -1px 0 var(--dark-blue),
    -1px 1px 0 var(--dark-blue),
    1px 1px 0 var(--dark-blue);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* font-size: 3rem; */
    font-weight: 700;
    margin-bottom: 2rem;
}

/*
@media screen and (max-width: 374px) {
    .logo-cont {
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 375px) {
    .logo-cont {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .logo-cont {
        font-size: 4.8rem;
    }
}
*/

.logo-cont img.logo {
    max-width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.4rem;
}

.logo-text span {
    font-weight: 900;
}

.navbar-brand a.navbar-item {
    font-weight: 600;
    flex-direction: row;
    flex: 1;
}

.navbar-brand a.navbar-item .brand-text {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-right: 1.6rem;
    margin-left: 1.2rem;
}

.navbar-brand a.navbar-item .brand-text p {
    font-size: 1.1rem !important;
}

.navbar-brand a.navbar-item .brand-text span {
    font-weight: 900 !important;
}

.navbar-link,
a.navbar-item {
    background-color: var(--dark-blue);
    color: #fff;
    letter-spacing: .02rem;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
    background-color: var(--dark-blue-light);
    color: #fff;
}

.navbar-brand .navbar-item,
.navbar-brand .navbar-item:focus,
.navbar-brand .navbar-item:focus-within,
.navbar-brand .navbar-item:hover {
    border-bottom: none !important;
    color: #fff;
}

.navbar-brand .navbar-item:focus,
.navbar-brand .navbar-item:focus-within,
.navbar-brand .navbar-item:hover {
    background-color: var(--dark-blue-light) !important;
}

.navbar-dropdown .navbar-item {
    padding: 0.5rem 1rem !important;
}

.button {
    font-family: "Manrope", sans-serif !important;
    min-width: 48px;
    min-height: 40px;
    font-weight: 600;
    border-color: rgba(0, 0, 0, 0);
    --shadow-col-a: rgba(170, 170, 170, .4);
    --shadow-col-b: rgba(170, 170, 170, .28);
    --shadow-col-c: rgba(170, 170, 170, .24);
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    -webkit-box-shadow: 0 3px 1px -2px var(--shadow-col-a), 0 2px 2px 0 var(--shadow-col-b), 0 1px 5px 0 var(--shadow-col-c) !important;
    -moz-box-shadow: 0 3px 1px -2px var(--shadow-col-a), 0 2px 2px 0 var(--shadow-col-b), 0 1px 5px 0 var(--shadow-col-c) !important;
    box-shadow: 0 3px 1px -2px var(--shadow-col-a), 0 2px 2px 0 var(--shadow-col-b), 0 1px 5px 0 var(--shadow-col-c) !important;
}

.button:hover,
.button:focus,
.button.is-active {
    background-color: #f5f5f5;
    border-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 2px 4px -1px var(--shadow-col-a), 0 4px 5px 0 var(--shadow-col-b), 0 1px 10px 0 var(--shadow-col-c) !important;
    -moz-box-shadow: 0 2px 4px -1px var(--shadow-col-a), 0 4px 5px 0 var(--shadow-col-b), 0 1px 10px 0 var(--shadow-col-c) !important;
    box-shadow: 0 2px 4px -1px var(--shadow-col-a), 0 4px 5px 0 var(--shadow-col-b), 0 1px 10px 0 var(--shadow-col-c) !important;
}

.buttons {
    margin-top: 1.6rem;
}

.buttons .button {
    margin-bottom: 1.2rem;
}

.button .mdi {
    margin-right: .8rem;
}

.button.is-primary {
    background-color: var(--green-mid) !important;
    --shadow-col-a: rgba(32, 191, 107, .4);
    --shadow-col-b: rgba(32, 191, 107, .28);
    --shadow-col-c: rgba(32, 191, 107, .24);
}

.button.is-primary.is-hovered,
.button.is-primary:hover,
#mc_embed_signup .button.is-primary.is-hovered,
#mc_embed_signup .button.is-primary:hover {
    background-color: var(--green-dark) !important;
    --shadow-col-a: rgba(26, 153, 86, .4);
    --shadow-col-b: rgba(26, 153, 86, .28);
    --shadow-col-c: rgba(26, 153, 86, .24);
}

#mc_embed_signup .button {
    font-family: "Manrope", sans-serif;
    background-color: var(--green-mid) !important;
    --shadow-col-a: rgba(32, 191, 107, .4);
    --shadow-col-b: rgba(32, 191, 107, .28);
    --shadow-col-c: rgba(32, 191, 107, .24);
    border: none;
    color: #fff !important;
    cursor: pointer;
    justify-content: center;
    padding: calc(.375em - 1px) .75em;
    text-align: center;
    white-space: nowrap;
    font-weight: 600 !important;
    height: 2.25em !important;
    line-height: 1.5;
    margin-top: .8rem !important;
}

#mc_embed_signup .clear {
    display: flex !important;
    justify-content: flex-end !important;
}

#mc_embed_signup .clear .button {
    align-items: flex-end !important;
    right: 0 !important;
    margin-right: 0 !important;
}

#mc_embed_signup .indicates-required {
    margin-right: 0 !important;
}

#mc_embed_signup .mc-field-group {
    width: 100% !important;
}

#mc_embed_signup .mc-field-group input {
    font-size: 1.1rem;
}

@media screen and (min-width: 1024px) {
    #mc_embed_signup {
        max-width: 70%;
        margin: auto;
    }
}

.card {
    border-radius: .6rem;
    background-color: #fff;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.card:hover,
.card:focus,
.card.is-active {
    --shadow-col: rgba(116, 125, 140, .25);
    --bord-col: rgba(116, 125, 140, .1);
    -webkit-box-shadow: 0 4px 12px 1px var(--shadow-col), 0 0 0 1px var(--bord-col);
    -moz-box-shadow: 0 4px 12px 1px var(--shadow-col), 0 0 0 1px var(--bord-col);
    box-shadow: 0 4px 12px 1px var(--shadow-col), 0 0 0 1px var(--bord-col);
}

.card-content h6 {
    margin-bottom: .4rem;
}

.card-content .title:not(:last-child) {
    margin-bottom: .4rem;
}

.avatar {
    display: block;
    margin: auto;
    border-radius: 50%;
    max-width: 144px;
}

.speaker-info .title {
    margin-bottom: .6rem !important;
}

.speaker-info .title:not(.is-spaced) + .subtitle {
    margin-top: .2rem !important;
}

.has-same-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.has-same-height .card-footer {
    margin-top: auto;
}


@media screen and (max-width: 390px) {
    .column.is-6-mobile {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .avatar {
        max-width: 96px;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .column.is-4-tablet {
        width: 33.333%;
    }

    .column.is-12-mobile {
        width: 33.333%;
    }

    .column.is-6-mobile {
        width: 33.333%;
    }
}

#sponsors {
    background-color: #f5f5f5; /*var(--green);*/
}

#sponsors .card {
    background-color: rgba(255, 255, 255, 0.85);
}

#sponsors .card.is-active,
#sponsors .card:hover,
#sponsors .card:focus {
    background-color: rgba(255, 255, 255, 0.95);
}

#sponsors .buttons {
    justify-content: center;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: 1.2rem;
}

ul {
    list-style-type: disc;
    padding-inline-start: 1.2rem;
}

.help {
    margin-top: .5rem;
}

.table.is-bordered th, .table.is-bordered td {
    border-color: #000;
}

.table th {
    background-color: #eee;
}

.checkbox input {
    margin-right: .4rem;
    padding-top: .2rem;
}

.field:not(:last-child) {
    margin-bottom: .8rem;
}

.label:not(:last-child) {
    margin-bottom: .7rem;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #fff;
}

@media screen and (min-width: 1024px) {
    .navbar-item.has-dropdown.is-active .navbar-link,
    .navbar-item.has-dropdown:focus .navbar-link,
    .navbar-item.has-dropdown:hover .navbar-link {
        background-color: var(--dark-blue-light) !important;
        color: #fff;
    }
}

.navbar-dropdown {
    background-color: var(--dark-blue);
    border-top: none;
    box-shadow: 0 8px 8px rgba(10, 10, 10, .2);
    padding-bottom: .6rem;
    padding-top: .6rem;
}

.navbar-dropdown .navbar-item {
    min-height: 40px;
}

@media screen and (min-width: 1024px) {
    .navbar-dropdown .navbar-item {
        padding: .6rem 1rem !important;
    }
}

@media screen and (min-width: 1024px) {
    .navbar-dropdown {
        background-color: #fff;
        color: rgba(0, 0, 0, 0.85);
    }

    .navbar-dropdown .navbar-item {
        background-color: #fff;
        color: rgba(0, 0, 0, 0.85);
    }

    .navbar-dropdown a.navbar-item:focus,
    .navbar-dropdown a.navbar-item:hover {
        background-color: #eee;
        color: var(--dark-blue-light);
    }
}

.footer {
    padding: 4.8rem 1.2rem;
    background-color: rgba(0, 32, 43, .05);
    bottom: 0;
    margin-top: auto;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
}

body hr {
    margin: 0;
    background-color: rgba(0, 0, 0, .06);
}

.sponsor-info {
    text-align: justify;
}


@media screen and (max-width: 768px) and (min-width: 600px) {
    .column.is-12-mobile {
        width: 90%;
    }
}

p a,
p a:visited {
    color: var(--green-mid);
}

p a:hover,
p a:focus,
p a.is-active {
    color: var(--green-dark);
}

p a:hover,
p a:focus {
    text-decoration: underline;
}

a .card,
a:hover .card,
a:focus .card {
    text-decoration: none !important;
}

.is-paypal {
    font-family: "Manrope", sans-serif;
    background-color: #003087;
    color: #fff;
    --shadow-col-a: rgba(0, 43, 122, .4);
    --shadow-col-b: rgba(0, 43, 122, .28);
    --shadow-col-c: rgba(0, 43, 122, .24);
}

.is-paypal:hover,
.is-paypal:focus {
    background-color: #1a4593;
    color: #fff;
}

.navbar-item.has-dropdown .navbar-link {
    padding-left: 1rem;
}

.navbar-link:not(.is-arrowless) {
    padding-right: 3rem;
}

#sponsors .card .card-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: auto;
}

#sponsors .card .card-content img {
    display: block;
    max-height: 144px;
    align-self: center;
    vertical-align: middle;
    margin: auto;
}

.card .card-footer {
    padding: 1rem;
    justify-content: center;
}

.card p {
    text-align: center;
}

.title {
    color: var(--dark-blue);
}

@media screen and (max-width: 375px) {
    .card p.is-5 {
        font-size: 1.1rem;
    }
}
