@import "./../fonts/manrope/manrope.css";

:root {
    --red: #eb3b5a;
    --red-dark: #d43551;
    --green: #4dcc89;
    --green-mid: #3ea36e;
    --green-dark: #2e7a52;
    --green-darker: #1f5237;
    --dark-blue: #00202b;
    --dark-blue-light: #0d2b36;
    --dark-blue-lighter: #25404a;
    --selection-color: rgba(77, 204, 137, .35);
    --link-gradient-start: #a3f0d6;
    --link-gradient-end: #82dbac;
    --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

::selection {
    background: var(--selection-color);
}

::-moz-selection {
    background: var(--selection-color);
}

html {
    scroll-behavior: smooth;
    color: var(--dark-blue);
}

body, html {
    font-family: "Manrope", var(--system-font);
    font-size: 1rem;
}

body {
    line-height: 1.7;
}

h1, h2,
.content h1, .content h2 {
    font-weight: 800;
}

h1,
.content h1 {
    font-size: 3.6rem;
}

h2,
.content h2 {
    font-size: 3rem;
}

h3,
.content h3 {
    font-size: 2.4rem;
    font-weight: 700;
}

h4,
.content h4 {
    font-size: 1.7rem;
    font-weight: 700;
}

h5,
.content h5 {
    font-size: 1.25rem;
    font-weight: 600;
}

h6, p, .button,
.content h6,
.content p,
.content .button {
    font-size: 1.1rem;
}

@media screen and (max-width: 329px) {
    h1, .content h1 {
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 330px)  and (max-width: 450px) {
    h1,
    .content h1 {
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 450px) {
    h2,
    .content h2 {
        font-size: 2.2rem;
    }

    h3,
    .content h3 {
        font-size: 1.75rem;
    }

    h4,
    .content h4 {
        font-size: 1.4rem;
    }

    h5,
    .content h5 {
        font-size: 1.25rem;
    }

    h6, p, .button,
    .content h6,
    .content p,
    .content .button {
        font-size: 1.1rem;
    }
}

body {
    font-weight: 600;
    color: var(--dark-blue);
}

b {
    font-weight: 800;
}


.green {
    color: var(--green) !important;
}

.green-mid {
    color: var(--green-mid) !important
}

.green-dark {
    color: var(--green-dark) !important
}

.red {
    color: var(--red) !important;
}

.red-dark {
    color: var(--red-dark) !important;
}

.is-primary {
    background-color: var(--green-mid) !important;
}

.button {
    font-family: "Manrope", sans-serif !important;
    min-width: 48px;
    font-weight: 600;
    border-color: rgba(0, 0, 0, 0);
    --shadow-col-a: rgba(170, 170, 170, .4);
    --shadow-col-b: rgba(170, 170, 170, .28);
    --shadow-col-c: rgba(170, 170, 170, .24);
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    -webkit-box-shadow: 0 3px 1px -2px var(--shadow-col-a), 0 2px 2px 0 var(--shadow-col-b), 0 1px 5px 0 var(--shadow-col-c) !important;
    -moz-box-shadow: 0 3px 1px -2px var(--shadow-col-a), 0 2px 2px 0 var(--shadow-col-b), 0 1px 5px 0 var(--shadow-col-c) !important;
    box-shadow: 0 3px 1px -2px var(--shadow-col-a), 0 2px 2px 0 var(--shadow-col-b), 0 1px 5px 0 var(--shadow-col-c) !important;
}

.button:hover,
.button:focus,
.button.is-active {
    background-color: #f5f5f5;
    border-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 2px 4px -1px var(--shadow-col-a), 0 4px 5px 0 var(--shadow-col-b), 0 1px 10px 0 var(--shadow-col-c) !important;
    -moz-box-shadow: 0 2px 4px -1px var(--shadow-col-a), 0 4px 5px 0 var(--shadow-col-b), 0 1px 10px 0 var(--shadow-col-c) !important;
    box-shadow: 0 2px 4px -1px var(--shadow-col-a), 0 4px 5px 0 var(--shadow-col-b), 0 1px 10px 0 var(--shadow-col-c) !important;
}

.button.simple,
.button.simple:hover,
.button.simple:focus,
.button.simple.is-active {
    border-color: #eee;
}

.buttons {
    margin-top: 2rem;
}

.buttons .button {
    margin-bottom: 1.2rem;
}

.button .mdi {
    margin-right: .8rem;
}

.button.is-primary {
    background-color: var(--green-mid) !important;
    --shadow-col-a: rgba(32, 191, 107, .4);
    --shadow-col-b: rgba(32, 191, 107, .28);
    --shadow-col-c: rgba(32, 191, 107, .24);
}

.button.is-primary.is-hovered,
.button.is-primary.is-active,
.button.is-primary:hover,
.button.is-primary:focus,
.button.is-primary:active {
    background-color: var(--green-dark) !important;
    --shadow-col-a: rgba(26, 153, 86, .4);
    --shadow-col-b: rgba(26, 153, 86, .28);
    --shadow-col-c: rgba(26, 153, 86, .24);
}

.button.is-primary.is-light {
    color: var(--dark-blue);
    background-color: var(--green) !important;
    --shadow-col-a: rgba(77, 204, 137, .4);
    --shadow-col-b: rgba(77, 204, 137, .28);
    --shadow-col-c: rgba(77, 204, 137, .24);
}

.button.is-primary.is-light.is-hovered,
.button.is-primary.is-light.is-active,
.button.is-primary.is-light:hover,
.button.is-primary.is-light:focus,
.button.is-primary.is-light:active {
    color: var(--dark-blue);
    background-color: var(--green-mid) !important;
    --shadow-col-a: rgba(32, 191, 107, .4);
    --shadow-col-b: rgba(32, 191, 107, .28);
    --shadow-col-c: rgba(32, 191, 107, .24);
}
